<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">VitalidadeAgora</a></h1>
  </header>
  
  <main>
    {{ content }}
  </main>

  <footer>
    <p>© {{ site.time | date: "%Y" }} VitalidadeAgora</p>
  </footer>
</body>
</html>
